<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="scripts/main.js"></script>
  </head>

  <body ng-app="app" ng-controller="demoController">

    <center><h1>Todos by Angular.js</h1></center>

    <form ng-submit="add()">
      <input id="textbox" type="text" ng-model="input" placeholder="What needs to be done?">
      <!--<button type="submit" ng-click="add()">Add task</button>-->
    </form>
    <input type="checkbox" ng-model="allChecked" ng-change="markAll(allChecked)">Mark all as complete<br>

    <ul class="tasklist" >
      <li ng-repeat="item in items">
        <input type="checkbox" ng-model="item.done">
        <label id="done-{{item.done}}">{{item.val}}</label>
        <hr>
      </li>
    </ul>
    <!--<br>-->
    

    <div class="totalleft">
      {{numLeft()}} out of {{items.length}} remaining
      <button id="clearbutton" type="submit" ng-click="clearItems()" ng-show="showClear()">Clear {{numCompleted()}} items</button>
    </div>
  
  </body>
</html>
