
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todos</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  
  <body ng-controller="demoController">

  <!--
  <div ng-app="">
    <center><h1>Todos by Angular.js</h1></center>

    <form>
    <input type="text" name="taskinput" placeholder="What needs to be done?" id="newTask">
    <input type='submit' value='Add to list' id='add' onclick="showInput();"><br> 
    </form>

    
    <input type="checkbox" name="markAll" value="markAll">Mark all as complete<br>

    <ul>
      <li ng-repeat="x in tasks">
        {{ x }}
      </li>
    </ul>
    
    <!--<textarea rows="5" id="txtArea"></textarea>-->

  

    <ul>
      <li ng-repeat="item in items" >
        {{ item }} <button ng-click="remove($index)">Remove</button>
      </li>
    </ul>
    
    <div>
      <input type="text" ng-model="input">
      <button type="submit" ng-click="add()">Add</button>
    </div>

  

<!--
<div ng-controller="TestController as testCtrl">
    <form ng-submit="addText(form)">
      <input type="text" ng-model="form.text1" value="Lets go">
      <input type="text" ng-model="form.text2" value="Lets go again">
      <input type="submit" value="add">
    </form>
  </div>
-->
  </body>
</html>